<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <meta
  name="google-signin-client_id"
  content="143969115563-9u8ebmsoo2oj1ugc39p14ffhrktes5jr.apps.googleusercontent.com"
/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<style>
  body{
    background-color: #212529;
  }
  .iconwrapper{
    display: flex;
  height: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  }

</style>
</head>
<body>


<div class="container">
  <div style="margin: 2rem; font-size: 16px; text-align: center; color: white;">
    <p style="margin-top: 10%;">
      Welcome to AnoText - Anonymous Texting App
    </p>
  </div>
  <div class="iconwrapper">
    <a href="/login" style="margin: 0px; padding: 0px">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="Google Logo" style="height: 30px; align-self: center; margin-left: 1rem;"><button class="btn btn-light" style="margin-right: 1rem; font-size: 18px;">Sign in with Google</button>
  </a>
  </div>


  
</div>



</body>
</html>